body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#logoandsearch {
    padding-left: 5%;
    padding-bottom: 10px;
    padding-top: 30%;
    position: relative;
}

#logopic {
    text-align: center;
    position: relative;
}

#submitbutton {
    height: 35px;
}

#searchbar {
    width: 85%;
    height:35px;
}
#suggestions {
    width: 81%;
    border:none;
    display: block;
    position: absolute;
    background-color: white;
    z-index: 10;
}

#maincontent {
    padding-top: 20px;
    width: 90%;
    padding-bottom: 10%;
}

#linkresult {
    background-color: none;
}

#namecardresult {
    background-color: none;

}


.one-link-result {
    padding-top: 20px;
}

.linkresult-title {
    font-size: 20px;
    font-weight: bold;
}

a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: chocolate;
    cursor: pointer;
}
a:active {
    text-decoration: none ;
}

.linkresult-url {
    color: green;
}


div.suggested:hover, div.suggested:active, button:hover  {
    cursor: pointer;
}



div.sblock {
    border-style: solid;
    border-width: 1px;
    border-left-color: lightgrey;
    border-right-color: lightgrey;
    border-top: none;
    border-bottom-color: lightgrey;
}

div.sblock > div:hover {
    background-color: lightgoldenrodyellow;
}

div.msg {
    color: gray;
}
