body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#logoandsearch {
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: lightgoldenrodyellow;
}

#submitbutton {
    height: 35px;
}

#searchbar {
    width: 85%;
    height:35px;
}

#maincontent {
    padding-top: 20px;
    width: 90%;
}

#linkresult {
    background-color: lightseagreen;
    height: 50px;
}

#namecardresult {
    background-color: deepskyblue;
    height: 50px;
    display: block;
}

#pname {
    font-size
}









div.sblock {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

div.sblock > div:hover {
    background-color: aliceblue;
}

div.msg {
    color: gray;
}

